.alert.ajax{role: 'alert'}
  %span.alert-content
  %button.close{type: 'button'}
    %span{aria: {hidden: 'true'}} &times;
    %span.sr-only Close

.row
  .col-sm-6
    .panel.panel-primary.clock_in{style: @user.active_clock? ? 'display: none' : 'display: block'}
      .panel-heading New Time Log
      .panel-body= render 'time_logs/form'
    .panel.panel-primary.clock_out{style: @user.active_clock? ? 'display: block' : 'display: none'}
      .panel-heading Running Clock
      .panel-body
        - if @user.active_clock?
          = render 'time_logs/clock_out'
  .col-sm-6
    .panel.panel-default
      .panel-heading Time Log History
      .panel-body
        %table.table.table-striped.table-bordered.table-responsive
          %tr
            %td ID
            %td Clock In
            %td Clock Out
            %td Duration
          - @time_logs.each do |time_log|
            %tr
              %td= time_log.id
              %td= display_datetime time_log.clock_in
              %td= display_datetime time_log.clock_out
              %td= display_duration time_log.duration