.alert.ajax{role: 'alert'}
  %span.alert-content
  %button.close{type: 'button'}
    %span{aria: {hidden: 'true'}} &times;
    %span.sr-only Close

.row
  .col-sm-6
    .panel.panel-primary.clock_in{style: @user.active_clock? ? 'display: none' : 'display: block'}
      .panel-heading New Time Log
      .panel-body= render 'time_logs/form'
    .panel.panel-primary.clock_out{style: @user.active_clock? ? 'display: block' : 'display: none'}
      .panel-heading Running Clock
      .panel-body
        - if @user.active_clock?
          = render 'time_logs/clock_out'
  .col-sm-6
    .panel.panel-default
      .panel-heading.text-center
        Time Log History
      .panel-body.padding-0
        %table.own-history.table.table-striped.table-responsive
          %tr
            %th ID
            %th Clock In
            %th Clock Out
            %th Duration
          - @time_logs.each do |time_log|
            %tr
              %td= time_log.id
              %td= time_log.display_clock_in
              %td= time_log.display_clock_out
              %td= time_log.display_duration
      .panel-footer.text-center
        7 Day Total: #{total_duration @time_logs}
        .row.top-10px
          .col-sm-4.col-sm-push-4= link_to 'Report', pdf_path(@user.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-info btn-block'

= render 'users/employee_history' if @user.admin?