= simple_form_for @time_log, validate: true, url: time_logs_path, remote: true, defaults: {label: false, input_html: {class: 'form-control bottom-10px'}} do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id, required: true, as: :hidden, input_html: {value: @user.id}
    = f.input :id, required: true, placeholder: 'Time Log ID'

  .form-actions.top-20px= f.submit 'Clock in', class: 'btn btn-primary btn-md'