:plain
  // Alert
  $('.ajax').removeClass('alert-success').removeClass('alert-danger')
  $('.ajax').addClass('alert-#{@message[:type]}')
  $('.alert-content').html('#{@message[:text]}')
  $('.ajax').velocity('transition.slideDownIn', 400);

- if @message[:type] == 'success'
  :plain
    // Transition forms
    $('.clock_in .time_log_id input').val('')
    $('.clock_out').velocity('transition.slideDownOut', 400);
    $('.clock_in').delay(400).velocity('transition.slideUpIn', 400);
    clearInterval(timer)
    string =  ''
    string += "<tr class='inserted'>"
    string +=   "<td>#{@time_log.id}</td>"
    string +=   "<td>#{@time_log.display_clock_in}</td>"
    string +=   "<td>#{@time_log.display_clock_out}</td>"
    string +=   "<td>#{@time_log.duration}</td>"
    string += "</tr>"
    $(string).insertAfter($('table tr:first'))
    $('.inserted:first').velocity('transition.slideDownIn', 400)