:plain
  // Alert
  $('.ajax').removeClass('alert-success').removeClass('alert-danger')
  $('.ajax').addClass('alert-#{@message[:type]}')
  $('.alert-content').html('#{@message[:text]}')
  $('.ajax').velocity('transition.slideDownIn', 400);

- if @message[:type] == 'success'
  :plain
    // Transition forms
    $('.clock_in .time_log_id input').val('')
    $('.clock_out').velocity('transition.slideDownOut', 400);
    $('.employee-history').velocity('transition.slideDownOut', 400);
    $('.clock_in').delay(400).velocity('transition.slideUpIn', 400);

    clearInterval(window.timer)
    window.string = ''
    window.string += "<tr class='inserted'>"
    window.string +=   "<td>#{@time_log.id}</td>"
    window.string +=   "<td>#{@time_log.display_clock_in}</td>"
    window.string +=   "<td>#{@time_log.display_clock_out}</td>"
    window.string +=   "<td>#{@time_log.display_duration}</td>"
    window.string += "</tr>"
    $(window.string).insertAfter($('.own-history tr:first'))
    $('.inserted:first').velocity('transition.slideDownIn', 400)