.new-user-modal.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for @user, validate: true, url: users_path, remote: true, defaults: {label: false, input_html: {class: 'form-control bottom-10px'}} do |f|
        .modal-header.text-center
          %h3 Create New User
        .modal-body
          = f.error_notification

          .form-inputs
            .row
              .col-sm-6= f.input :id, placeholder: 'ID'
              .col-sm-6= f.input :role, placeholder: 'Role'
            .row.top-10px
              .col-sm-6= f.input :first_name, placeholder: 'First Name'
              .col-sm-6= f.input :last_name, placeholder: 'Last Name'
            .row.top-10px
              .col-sm-6= f.input :password, placeholder: 'Password'
              .col-sm-6= f.input :password_confirmation, placeholder: 'Confirm Password'

        .modal-footer
          = f.submit 'Save', class: 'btn btn-primary btn-md'
          = link_to 'Close', '#', class: 'btn btn-md btn-danger', data: {dismiss: 'modal'}