= render 'new_user_modal'

.panel.panel-default
  .panel-heading.text-center Users
  .panel-body.padding-0
    %table.users.table.table-striped.table-responsive
      %tr
        %th ID
        %th Name
        %th Email
        %th Status
        %th 7 Day Total
        %th Actions
      - @users.each do |user|
        %tr{class: "user_#{user.id}"}
          %td= user.id
          %td= user.display_name
          %td= user.email
          %td= user.active_clock?
          %td= total_duration user.time_logs.seven_days
          %td
            - unless user == @user
              = link_to 'Delete User', destroy_user_path(user.id), data: {confirm: 'Are you sure?'}, remote: true, method: :delete, class: 'btn btn-xs btn-danger'
  .panel-footer= link_to 'Add User', '#', data: {toggle: 'modal', target: '.new-user-modal'}, class: 'btn btn-xs btn-primary'